body  {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #33425C 0vh,#33425C 75vh,#000000 75vh,#7A7A7A 75vh,#7A7A7A 100vh);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-family: arial;
}

.headline {
  text-align: center;
  grid-area: 1 / 4 / 1 / 7;
  color: white;
}
.headline h1 {
  text-transform: uppercase;
}

.employeesDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: 2 / 4 / 4/ 7;
}

.employee {
  cursor: pointer;
}

.hidden {
  display: none;
}

.quidProDiv {
  display: flex;
  align-items: flex-end;
  grid-area: 5 / 3 / 8 / 4;
}

.hostileDiv {
  display: flex;
  align-items: flex-end;
  grid-area: 5 / 7 / 8 / 9;
}

.quidHostileInformation {
  grid-area: 5 / 5;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
}

.quid, .hostile {
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 20px;
  background-color: #44556E;
}

h3 {
  margin-top: 5px;
  text-transform: uppercase;
  color: #B4C4D9;
}

p {
  margin-top: 5px;
  color: white;
}

@media screen and (max-width: 1042px) {
  body {
    width: 100vw;
    height: 90vh;
  }
  .employee {
    width: 10%;
    height: auto;
  }

  .imgSize {
    width: auto;
    height: 80%;
  }

  .quidProDiv {
    grid-area: 5 / 3 / 8 / 5;
  }

  .hostileDiv {
    grid-area: 5 / 6 / 8 / 8;
  }

  .quidHostileInformation {
    grid-area: 4 / 5;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
  }

}
