body  {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #33425C 0vh,#33425C 75vh,#000000 75vh,#7A7A7A 75vh,#7A7A7A 100vh);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-family: arial;

}

.headline {
  text-align: center;
  grid-area: 1 / 4 / 1 / 6;
  color: white;
}
.headline h1 {
  text-transform: uppercase;
}

.employeesDiv {
  text-align: center;
  grid-area: 2 / 4 / 3 / 6;
}

.employee {
  cursor: pointer;
}

.hidden {
  display: none;
}

.quidProDiv {
  display: flex;
  align-items: flex-end;
  grid-area: 5 / 3 / 8 / 4;
}

.hostileDiv {
  display: flex;
  align-items: flex-end;
  grid-area: 5 / 6 / 8 / 8;
}

.quidHostileInformation {
  grid-area: 5 / 4;
  width: 300px;
  height: 150px;
  border-radius: 20px;
}

.quid, .hostile {
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 20px;
  background-color: #44556E;
}

h3 {
  margin-top: 5px;
  text-transform: uppercase;
  color: #B4C4D9;
}

p {
  margin-top: 5px;
  color: white;
}

@media screen and (max-width: 1240px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .employee {
    width: 15%;
    height: auto;
  }

  .imgSize {
    width: auto;
    height: 100%;
  }

  .quidProDiv {
    grid-area: 5 / 3 / 8 / 5;
  }

  .hostileDiv {
    grid-area: 5 / 6 / 8 / 8;
  }

  .quidHostileInformation {
    grid-area: 3 / 4 / 4 / 6;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
  }
  .imgSize {
    height: 300px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {

  .headline {
    text-align: center;
    grid-area: 1 / 3 / 1 / 7;
    color: white;
  }

  .employeesDiv {
    grid-area: 2 / 4 / 2 / 6;
  }

  .quidHostileInformation {
    grid-area: 3 / 3 / 3 / 7;
    padding: 10px;
    border-radius: 20px;
  }

  .quid, .hostile {
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: #44556E;
  }

  h3 {
    font-size: .7rem;
  }

  .quidHostileInformation p {
    font-size: .5em;
  }

  .employee {
    width: 20%;
    height: auto;
  }

  .quidProDiv {
    grid-area: 5 / 2 / 8 / 4;
  }
  .hostileDiv {
    grid-area: 5 / 6 / 8 / 8;
  }

  .imgSize {
    height: 200px;
    width: auto;
  }

}
