body  {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #33425C 0%,#33425C 75%,#000000 75%,#7A7A7A 75%,#7A7A7A 100%);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-family: arial;
}

.headline {
  text-align: center;
  grid-area: 1 / 4 / 1 / 7;
  color: white;
}
.headline h1 {
  text-transform: uppercase;
}

.employeesDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: 2 / 4 / 4/ 7;
}

.hidden {
  display: none;
}

.quidProDiv {
  grid-area: 5 / 2 / 8 / 4;
}

.hostileDiv {
  grid-area: 5 / 7 / 8 / 9;
}

.quidHostileInformation {
  grid-area: 5 / 5;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
}

.quidInformation, .hostileInformation {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  background-color: #44556E;
}

h3 {
  margin-top: 5px;
  text-transform: uppercase;
  color: #B4C4D9;
}

p {
  margin-top: 5px;
  color: white;
}
